.categorias__lista{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.destaques{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 720px) {
    .categorias__lista{
        flex-wrap: wrap;
        gap: 1rem 1.5rem;
    }
    
}

@media (min-width: 1440px) {

}